<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QuickCalendar.Properties.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <QuickCalendar.Properties.UserSettings>
            <setting name="App_IsUpgraded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CloseOnEscape" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LoadLastOpenedFileOnStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastOpenedFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowCalendarNameInStatusBar" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="ShowCalendarNameInWindowTitle" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="CalendarDetailsForm_Size" serializeAs="String">
                <value />
            </setting>
            <setting name="CalendarDetailsForm_lvwDatesNotableDates_ColumnSizes"
                serializeAs="String">
                <value />
            </setting>
            <setting name="NotableDatesGeneratorEditorForm_Size" serializeAs="String">
                <value />
            </setting>
            <setting name="NotableDatesGeneratorEditorForm_lvwGeneratedDates_ColumnSizes"
                serializeAs="String">
                <value />
            </setting>
            <setting name="ProgramOptionsForm_lvwRawProperties_ColumnSizes"
                serializeAs="String">
                <value />
            </setting>
        </QuickCalendar.Properties.UserSettings>
    </userSettings>
</configuration>